@import "tailwindcss";

@theme {
/* Background */
--color-background: oklch(98.5% 0 none);
--color-background-muted: oklch(98.4% 0.003 247.858);
--color-background-subtle: oklch(96.8% 0.007 247.896);
--color-background-contrast : oklch(92.9% 0.013 255.508);
/* Text */ 
--color-text-primary:oklch(20.8% 0.042 265.755);
--color-text-secondary: oklch(44.6% 0.043 257.281);
--color-text-muted: oklch(55.4% 0.046 257.417);
--color-text-disabled: oklch(70.4% 0.04 256.788);
--color-text-inverse: oklch(98.5% 0 none);
/* Borders */
--color-border: oklch(92.8% 0.006 264.531);
--color-border-muted: oklch(96.7% 0.003 264.542);
--color-border-strong: oklch(87.2% 0.01 258.338);
/* Brand */ 
--color-brand-primary: oklch(59.6% 0.145 163.225);
--color-brand-hover: oklch(50.8% 0.118 165.612);
--color-brand-active: oklch(43.2% 0.095 166.913);
/* Acccent */
--color-accent: oklch(76.9% 0.188 70.08);
--color-accent-hover: oklch(66.6% 0.179 58.318);
--color-accent-active: oklch(55.5% 0.163 48.998);
--color-accent-soft: oklch(98.7% 0.022 95.277);
--color-accent-content: oklch(27.9% 0.077 45.635);
/* FeedBack */
--color-success: oklch(62.7% 0.194 149.214);
--color-warning: oklch(66.6% 0.179 58.318);
--color-danger: oklch(57.7% 0.245 27.325);
--color-info: oklch(54.6% 0.245 262.881);
/* Utility */
--color-focus: oklch(69.6% 0.17 162.48);
--color-placeholder: oklch(70.4% 0.04 256.788);
--color-selection: oklch(95% 0.052 163.051);
--color-overlay: oklch(14.5% 0 none);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
